<mat-toolbar color="primary" class="header-toolbar">
    <span class="header-title">Dashboard</span>
    <span class="spacer"></span>
    <div class="country">
      <img src="assets/img/India 2.svg" class="country-flag">
      <span class="country-code">IND</span>
    </div>
    <div mat-icon-button aria-label="Notifications" id="notify">
        <i class="fa-regular fa-bell"></i>
    </div>
    <div class="profile">
      <div class="profile-info">
        <span class="profile-name">James Ford</span>
        <span class="profile-email">jamesfgmail.com</span>
      </div>
      <div class="ellipse"></div>
    </div>
  </mat-toolbar>
  