.root{
    --bs-border-color: #e9f4ff;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-border-color-translucent:#e9f4ff;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    overflow: hidden;
    --bs-card-border-color:#e9f4ff;
    --bs-border-color: #e9f4ff;
    --mdc-outlined-button-outline-color:#004d87;
    
  }
  
  
  .mat-button-toggle-standalone.mat-button-toggle-appearance-standard:not([class*=mat-elevation-z]), .mat-button-toggle-group-appearance-standard:not([class*=mat-elevation-z]) {
    padding: 10px 5px;
  }
  
  .card-container {
   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #E4F2FF;
    margin-top: 70px;
    margin-left: 249px;
    /* overflow: hidden; */
    /* position: fixed; */
    height:calc(100% - 250px);
    width: calc(100% - 250px);
    border-radius:  30px 0px 0px 0px;
    padding: 20px 0px 20px 20px;
  }
  
  .card {
    --bs-card-border-color: #d6eaff;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    width: 800px; /* Adjusted width */
    height:180px; /* Adjusted height */
    /* margin: 10px; */
    margin-right:10px;
    *{
      font-family: 'Gill Sans';
    }
  }
  .card-container[_ngcontent-ng-c2347951427] h1[_ngcontent-ng-c2347951427] {
    line-height: 0.2px;
    padding-left:0px;
  }
  
  .card h2 {
    color: rgb(17, 17, 17);
    padding: 10px 0px 0px 10px;
    font-size: large;
    font-weight: 500;
    margin: 0;
  }
  .card-container h1{
    padding-left:10px;
    line-height: 1px;
  }
  .inner{
    width:30%;
    height:50%;
    margin: 15px 15px;
    box-shadow: 1px 2px 4px #d6eaff;
  }
  .details{
    width: 200px;
    line-height: 1.7;
    margin-top: -45px;
    margin-left: 50px;
  }
  .sub2{
    width:fit-content;
  } 
  
  
  .section-heading h1 {
    font-size:22px;
    letter-spacing:1px;
    font-weight: normal;
    margin-bottom: -5px;
    font-family: 'Gill Sans';
    display: flex;
    color:#004d87;
    align-items: flex-start;
  }
  
  .toggle-buttons {
    display: flex;
    align-items: center;
    border:none;
    
  }
  .toggle-text{
    font-size: 16px;
  }
  .tbuttons{
    height: 60px; 
    border:none;
    margin-bottom:5px;
  }
  .toggle-buttona {
    margin-right: 10px;
    border-radius:40px;
  }
  .toggle-buttonb{
    border-radius:40px;
  }
  
  .toggle-buttona.active {
    background:linear-gradient(to bottom, #0A6CB4,#0E7CCD);
    color: #ffffff;
  }
  
  .toggle-buttonb.inactive {
    background-color: #cccccc;
    color: #000000;
  }
  .toggle-count {
    background-color: #ffffff;
    color: #004d84;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 5px;
  }
  ::ng-deep .toggle-buttona.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    padding-left: 10px !important;
    padding-right: 4px !important;
  }
  
  .mat-mdc-outlined-button:not(:disabled) {
    border-radius: 15px;
    border:1.5px solid #0A6CB4;
    color:#004d87;
    font-family: 'Gill Sans';
    font-weight: normal;
    margin:auto 15px;
  }
  .mat-mdc-outlined-button:not(:disabled):active{
    background-color: #0E7CCD;
    color: #ffffff;
    border:none;
  }
  
  .health{
    padding:5px;
  }
  .document{
    padding:5px;
  }
  .connection{
    padding: 5px;
  }
  app-calendar {
    margin-left: auto;
  }
  
  /* .tm{
    height: 250px;
  } */
  
  .docimg{
    width:60px;
    height:60px;
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .docname{
    margin-left: 80px;
    margin-top: 10px;
    line-height: 1.8;
    position: relative;
  }
  .dname{
    font-size: 16px;
    color: #141414;
    font-weight: 500;
  }
  .exp{
    font-size: 14px;
    color: brown;
    font-weight: 400;
  }
  
  /* Connection Container style */
  
  .container {
    overflow: hidden;
    width: 800px; /* Adjusted width */
    height:170px;
    background: white;
    border-radius: 20px;
    border: 1px #e9edf7 solid;
    margin:0;
  }
  
  .header-container {
    width: auto;
    height: 30px;
    justify-content: flex-start;
    align-items: center;
    position:relative;
    gap: 15px;
    display: flex;
    margin:10px;
  }
  
  .header-text {
    color: black;
    font-size: 18px;
    font-family: Gill Sans;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
  }
  .view-all {
    font-size: 14px;
    color:#004d87;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    margin-left: 40px;
    transform: translateY(-50%);
  }
  
  .notification-icon {
    width: 25px;
    height: 25.16px;
    position: relative;
  }
  
  .notification-background {
    width: 25px;
    height: 24.23px;
    left: 0px;
    top: 0.93px;
    position: absolute;
    background: #c2e8ff;
    box-shadow: 0px 4px 22px rgba(228, 228, 228, 0.25);
    border-radius: 9999px;
    backdrop-filter: blur(33px);
  }
  
  .notification-count {
    left: 3px;
    top: 2px;
    position: absolute;
    color: #0663a9;
    font-size: 16px;
    font-family: Gill Sans;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
  }
  
  
  h2 {
    margin: 0;
    padding: 10px 10px 5px 10px;
    font-family: Gill Sans;
    font-size: 18px;
  }
